# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.conda/

# Training outputs
runs/
result/
train_logs/
logs/

# Model weights
*.pt
!pretrained_models/*.pt
!scripts/yolo26n.pt
*.onnx
*.engine

# Dataset
datasets/
data/
images/
labels/

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/